body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 550px;
  height: 550px;
  background: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-intro-page {

}

.heading {
  height: 41px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: rgba(41, 50, 100, 1);
}

.sub-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 29px;
  color: rgba(41, 50, 100, 1);

}

.start-button {
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  margin: 0px auto;
  cursor: pointer;
}

.question {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin: 12px 0px;
}

.quiz-page {
  margin: 40px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.longhand {
  flex-flow: wrap row;
}

.flex-item {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

label {
  border: 1px solid #4D5B9E;
  padding: 0px 8px;
  height: 20px;
  border-radius: 8px;
  margin: 0px 5px;
  cursor: pointer;
}

input:checked + label {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: #D6DBF5;
  border: 1px solid none;
  /* padding: 3.25px 10px; */
  /* border-radius: 8px; */
}

input {
  display: none;
}

/* .flex-item {
  color: #C3D0D9;
  border: 1px solid #C3D0D9;
  width: 50px;
  height: 50px;
  font-size: 1.3em;
  text-align: center;
  padding: 10px;
}

label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + label {
  background: black;
}

input {
  display: none;
} */